* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles.css */

/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.header {
    background-color: #4a90e2;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Asegura que el header esté por encima de otros elementos */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.logo {
    font-size: 24px;
    margin: 0;
}

.search-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* Permite que el formulario se ajuste en pantallas pequeñas */
    gap: 5px;
}

.search-form input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    flex: 1;
    /* Hace que el input ocupe el espacio disponible */
    min-width: 200px;
    /* Asegura un ancho mínimo para el input */
}

.search-form button {
    padding: 8px 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #357abd;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.search-form button:hover {
    background-color: #005a9c;
}

#clima {
    margin: 60px 0px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.CardCiudad {
    padding: 10px 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15%;
    background-color: #f0f0f0;
}

.CardCiudad p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.CardCiudad p img {
    height: 32px;
    width: 32px;
}


.divCards {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.CardWeather {
    margin: 5px;
    padding: 20px 10px;
    width: 300px;
    border: 1px solid #357abd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0.1, 0.1, 0.1, 0.1);
    list-style: none;
    background-color: #f7f7f7;
    /* Fondo suave */
}

.CardWeather div ul li {

    list-style: none;
}

/* Grid con Cards */
.clima-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 5px;
}

.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 img {
    border: 1px solid #3e9bf8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0.1, 0.1, 0.1, 0.1);
}


.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    font-size: 2.5em;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row-start: 4;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 span:first-child {
    font-weight: bold;
    color: #ff6f61;
    /* Rojo coral claro para la temperatura máxima */
    margin-right: 10px;
    /* Espacio entre temperaturas */
}

.div3 span:last-child {
    font-weight: bold;
    color: #64b5f6;
    /* Azul claro para la temperatura mínima */
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    font-size: 1em;
    gap: 1em;
}

.div5 img {
    width: 40px;
    height: 40px;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    font-size: 1em;
    gap: 1em;
}

.div6 img {
    width: 30px;
    height: 30px;
}

.div7 {
    grid-column: span 2 / span 2;
    grid-row-start: 6;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    font-size: 1em;
    gap: 1em;
}

.div7 img {
    width: 32px;
    height: 32px;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 6;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    font-size: 1em;
    gap: 1em;

}

.div8 img {
    width: 32px;
    height: 32px;
}

.div9 {
    grid-column: span 2 / span 2;
    grid-row-start: 7;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    font-size: 1em;
    gap: 0.5em;
}

.div9 img {
    width: 32px;
    height: 32px;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 7;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    font-size: 1em;
    gap: 1em;
}

.div10 img {
    width: 32px;
    height: 32px;
}

.div11 {
    grid-column: span 4 / span 4;
    grid-row-start: 8;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: flex-end;
    font-size: 1em;
    gap: 1em;
    color: rgb(160, 159, 159);
}

/* Grid con Cards */

h2 {
    text-align: center;
    margin-bottom: 20px;
}


@media (max-width: 900px) {
    .CardCiudad {
        gap: 7.5%
    }
}

/* Media Query para pantallas de dispositivos móviles */
@media (max-width: 680px) {
    .header {
        padding: 10px 5px;
    }

    .container {
        padding-left: 40px;
    }

    .CardCiudad {
        flex-wrap: wrap;
        padding: 10px 0px;
        gap: 10px
    }

    #clima {
        padding-top: 90px;
    }

    .logo {
        font-size: 20px;
    }

    .search-form {
        flex-direction: column;
    }

    .search-form input,
    .search-form button {
        width: 100%;
        margin-bottom: 5px;
    }

    .search-form button {
        margin-bottom: 0;
    }

    .CardWeather {
        margin: 0px;
        padding: 10px;
        max-width: 180px;
    }

    .clima-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(13, 1fr);
        gap: 5px;
    }

    .div1 {
        grid-column: span 2 / span 2;
        grid-row: span 3 / span 3;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .div2 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-row-start: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8em;
    }

    .div3 {
        grid-column: span 2 / span 2;
        grid-row-start: 6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
    }

    .div5 {
        grid-column: span 2 / span 2;
        grid-row-start: 7;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div6 {
        grid-column: span 2 / span 2;
        grid-row-start: 8;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div7 {
        grid-column: span 2 / span 2;
        grid-row-start: 9;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div8 {
        grid-column: span 2 / span 2;
        grid-row-start: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div9 {
        grid-column: span 2 / span 2;
        grid-row-start: 11;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div10 {
        grid-column: span 2 / span 2;
        grid-row-start: 12;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div11 {
        grid-column: span 2 / span 2;
        grid-row-start: 13;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 591px) {
    .CardWeather {
        margin: 0px;
        padding: 2px;
        max-width: 110px;
    }

    .clima-container {
        gap: 3px;
    }
}

@media (max-width: 400px) {

    .CardWeather {

        padding: 5px 1px;
        max-width: 100px;
    }

    .div1 img {
        width: 64px;
        height: 64px;
    }

    #div2 {
        font-size: 1.5em;
    }


    .CardWeather div {
        font-size: 0.825em;
    }

    #clima {
        padding-top: 110px;
    }

    .clima-container {
        gap: 2px;
    }
}